@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
/* Choose your own font */

/* It's just a preset for the web app, I prefer to do it here but you're free to do it as you want */
*{
  box-sizing: border-box;
  font-family: 'Mulish', serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: white;
}

.section__padding {
  padding: 1rem 10rem;
}

.app__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 80vh;
}